@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --timeline-start-width-desktop: 100px;
    --timeline-start-width-mobile: 60px;
    --timeline-normal-width-desktop: 200px;
    --timeline-normal-width-mobile: 120px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none {
    display: none;
}

.d-none-at-mobile {
    display: none;
    margin: auto;
}

.d-centered-at-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

main {
    width: 100%;
    min-height: 115vh;
    height: fit-content ;
    display: block !important;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
    background-image: url("images/event-creation-bg.png");
}

.navbar {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar img,
.navbar svg,
.search-bar svg,
nav button,
nav img,
nav svg {
    cursor: pointer;
}

.navbar img:hover,
nav img:hover,
.search-bar svg:hover,
.navbar svg:hover,
nav button:hover,
nav svg:hover {
    transform: scale(1.1);
}


.navbar img:active,
nav img:active,
nav button:active,
.search-bar svg:active,
.navbar svg:active,
nav svg:active {
    transform: scale(1.1);
}

.navbar .nav-buttons {
    display: none;
}


.menu-toggle {
    display: block;
}


.search-bar {
    position: relative;
}

.search-bar input {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    width: 450px;
    max-width: 80vw;
    /* caret-color: #43A4D7;
    color: #43A4D7; */
}

.search-bar svg {
    position: absolute;
    top: 12px;
}


.swiper-container {
    display: none;
    width: 800px;
    max-width: 80vw;
    /* border: 1px solid black; */
    margin: auto;
    overflow-y: auto;
}

.swiper-wrapper {
    display: inline-flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: center;
}

/* .swiper-container::-webkit-scrollbar-track {
    background: #a8a8a8b6;
}

.swiper-container::-webkit-scrollbar {
    height: 2px;
}

.swiper-container::-webkit-scrollbar-thumb {
    background: #4F4F4F !important;
} */

.swiper-slide {
    text-indent: 45px;
    font-size: 1rem;    
    width: var(--timeline-normal-width-mobile);
    height: 100%;
    position: relative;
}

.swiper-slide__left {
    width: var(--timeline-start-width-mobile) !important;
}

.time-line-box {
    height: 100px;
    padding: 30px 0;
    width: 100%;
    /* background-color: #dadefe; */
}

.time-line-box .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
}

.time-line-box .timestamp {
    margin: auto;
    margin-bottom: 5px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-line-box .status {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid gray;
    width: var(--timeline-normal-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status__left {
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid gray;
    width: var(--timeline-start-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status__right {
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid gray;
    width: var(--timeline-start-width-mobile) ! important;
    position: relative;
    transition: all 200ms ease-in;
}

.time-line-box .status span {
    padding-top: 8px;
}

.time-line-box .status__left small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    left: 20%;
    top: 0%;
    transform: translateY(-50%) translateX(-100%);
    transition: all 200ms ease-in;
}


.time-line-box .status__right small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;  
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    right: -20%;
    top: 0%;
    transform: translateY(-50%) translateX(-100%);
    transition: all 200ms ease-in;
}

.time-line-box .status small {
    content: '';
    width: 12px;
    height: 12px;
    cursor: pointer;
    background-color: #95ADBD;
    border-radius: 12px;
    /* border: 2px solid #95ADBD; */
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in;
}

.background-active-timeline{
    background: #43A4D7 !important;
}

.font-color-active-timeline{
    color: #43A4D7;
    text-decoration: underline;
}


input[type="submit"], .oceans-gaming-default-button {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: normal;
    margin-top: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 30px;
    background: #43A4D7;
    border: none;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.1); */
}

.oceans-gaming-default-button{
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
}

.oceans-gaming-default-button:click{
    border: 0px solid black;
}

.oceans-gaming-transparent-button{
    background: transparent;
    border: 1px solid black;
    color: black;
}

.oceans-gaming-green-button{
    background: #8CCD39;
    color: white;
    
}

.oceans-gaming-gray-button{
    background: #A6A6A6;
    color: white;
}

input[type="submit"]:hover {
    background: #a3c3d3;
}

input[type="submit"]:active {
    background: #79b0cc;
}

.choose-payment-method {
    width: max-content !important;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto !important;
    text-align: center;
}


.dropbtn {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    /* border: none; */
    cursor: pointer;
}

.dropbtn-open{
    border-radius: 30px 30px 0 0;
}

.dropdown-container {
    display: flex;
    justify-content: space-around;
}

.dropbtn-arrow {
    margin-top: -25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content:last-child {
    border-radius: 0 0 30px 30px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
    text-decoration: none;
}

.welcome {
    margin-top: 40px;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #2E4B59 !important;
}

.welcome p {
    width: 600px;
    margin: auto;
    font-weight: lighter;
    text-overflow: clip;
    font-size: larger;
}

.payment-summary {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: fit-content;
    text-align: left;
    border-radius: 30px;
    font-weight: lighter;
    color: #2E4B59 !important;
    border: 1px solid black;
    width: 600px;
    max-width: 80vw;
    margin: auto;
}

.box-width{
    width: 600px !important;
    max-width: 80vw !important;
    margin: auto !important;
}

.flexbox {
    width: 100%;
    display: block;
}

.radio-indent, .radio-indent-hidden{
    margin-left: 20px;
    margin-bottom: 10px;
}

.radio-indent-hidden input[type='date'], .radio-indent-hidden input[type='time']{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 13px;
}

@media screen and (min-width: 600px) {
    .swiper-container {
        display: block;
    }

}

@media screen and (min-width: 992px) {
    .time-line-box .status__left small {
        left: 13%;
    }

    main {
        padding: 20px 100px;
    }

    .payment-summary {
        padding-left: 40px;
        padding-right: 40px;
    }

    .flexbox {
        display: flex;
        justify-content: space-between;
    }

    .search-bar {
        display: block;
    }

    .search-bar input {
        padding-left: 60px;
    }

    .navbar .nav-buttons {
        display: block;
    }

    .d-none-at-mobile {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .d-centered-at-mobile {
        display: none;
    }

    .search-bar svg {
        left: 20px;
    }

    
    .swiper-slide {
        text-indent: 0px;
        font-size: 1rem;
        width: var(--timeline-normal-width-desktop);
    }

    .swiper-slide__left {
        width: var(--timeline-start-width-desktop) !important;
    }


    .time-line-box .status {
        width: var(--timeline-normal-width-desktop) ! important;
    }

    .time-line-box .status__left {
        width: var(--timeline-start-width-desktop) ! important;

    }

    .time-line-box .status__left span:before {
        left: 12%;
    }

    .time-line-box .status__right {
        width: var(--timeline-start-width-desktop) ! important;

    }
}

@media screen and (min-width: 1200px) {
    .search-bar input {
        width: 600px;
    }

}

/* .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */