@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.d-none{
    display: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/signinbg.png");
}

::selection {
    color: #fff;
    background: #53f0e3;
}

.wrapper {
    width: 380px;
    padding: 40px 30px 50px 30px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
}

.wrapper form {
    margin: 0px 0;
}

form .field {
    width: 100%;
}

form input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 8px 30px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}

form .field input:focus,
form .field.valid input {
    border-color: #5372F0;
}

.input__error {
    border-color: #dc3545;
}

.form_icon__error{
    margin-right: 10px;
}

.field-error-message {
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}

.flash-message{
    text-align: left;
    color: #dc3545;
}

form input:focus~.icon,
form.field.valid.icon {
    color: #5372F0;
}

form .pass-txt {
    text-align: left;
}

.wrapper a {
    color: #5372F0;
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: #5372F0;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background: #2c52ed;
}

label.placeholder-moves-up-container {
    margin: 20px 0;
    position: relative;
    display: inline-block;
}

span.placeholder-moves-up {
    padding: 10px 3px;
    pointer-events: none;
    position: absolute;
    left: 15px;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
}

input:focus+span.placeholder-moves-up,
input:not(:focus):valid + span.placeholder-moves-up,
.placeholder__error
{
    opacity: 1;
    transform: scale(0.9) translateY(-60%) translateX(0px);
    padding: 0px 10px;
    z-index: 99;
    background-color: white;
}

